@import "variables";
@import "mixins";

.card {
  margin: 1rem;
  border-radius: 8px;
  background: $fontname;
  @include neu-shadows($back-ground, $dark-shadow, $light-shadow);
}
.card-header {
  padding: 0.5rem;
}
.card-content {
  display: block;
  padding: 1rem;
}
.card-img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}
