/* font and text */
$fontname: 'Lato';
$fonturl: 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap';
$global-font-size : 16px;

/* Normal mode Colours */
$back-ground: #e0e5ec;
$dark-shadow: rgba(163, 177, 198, 0.6);
$light-shadow: rgba(255, 255, 255, 0.5);

/* Dark Mode Colours */
